<p id="notice"><%= notice %></p>

<h1>Planes</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rows</th>
      <th>Seats p/row</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @planes.each do |plane| %>
      <tr>
        <td><%= link_to plane.name, plane_path(plane.id) %></td>
        <td><%= plane.row %></td>
        <td><%= plane.column %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plane', new_plane_path %>
