<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Bookings:</strong>
  <ul>
    <% @user.reservations.each do | res | %>
      <li><%= link_to ("#{res.flight.origin} to #{res.flight.destination}") , reservation_path(res.id) %></li>
    <% end %>
</ul>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<%= link_to 'Back', users_path %>
