<p id="notice"><%= notice %></p>

<h1>Reservations</h1>

<table>
  <thead>
    <tr>
      <th>Flight</th>
      <th>Origin</th>
      <th>Destination</th>
      <th>Date</th>
      <th>User</th>
      <th>Seat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= link_to reservation.flight.number, reservation_path(reservation.flight.id) %></td>
        <td><%= reservation.flight.origin %></td>
        <td><%= reservation.flight.destination %></td>
        <td><%= reservation.flight.date %></td>
        <td><%= reservation.user.name %></td>
        <td><%= reservation.seat %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path %>
