<h1>New Reservation</h1>

<%= form_for @reservation do | f | %>
    <%= f.label :flight_id %>
    <%= f.select :flight_id, Flight.all.pluck(:number, :id) %>     
    <%= f.label :user_id %>
    <%= f.select :user_id, User.all.pluck(:name, :id) %>     
    <%= f.label :seat %>
    <%= f.text_field :seat %>

    <%= f.submit %>
<% end %>

<%= link_to 'Back', reservations_path %>
