<!DOCTYPE html>
<html>

<head>
	<title>BurningServer</title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>

	<div class='container'>

		<div class='row bg-primary'>
			<h3 class='text-light m-2'>SkyFlying - User Portal</h3>
		</div>

		<nav class='row bg-primary d-flex flex-row '>
			<div class='col-5 d-flex flex-row justify-content-between'>
				<%= link_to 'Reservations', reservations_path, :class => 'nav-item m-2 btn btn-outline-light' %>
				<%= link_to 'Flights', flights_path, :class => 'nav-item m-2 btn btn-outline-light'  %>
				<%= link_to 'Planes', planes_path, :class => 'nav-item m-2 btn btn-outline-light'  %>
				<% if @current_user.present? && @current_user.admin %>
					<%= link_to 'Users', users_path, :class => 'nav-item m-2 btn btn-outline-light'  %>
				<% end %>
			</div>
			<div class='col-7 d-flex flex-row justify-content-end'>
				<% if @current_user.nil? %>
					<%= link_to 'New Account', new_user_path, :class => 'nav-item m-2 btn btn-outline-light'  %>
					<%= link_to 'Log in', login_path, :class => 'nav-item m-2 btn btn-outline-light'  %>
				<% else %>
					<%= link_to "User: #{@current_user.name}", user_path(@current_user.id), :class => 'nav-item m-2 btn btn-outline-light' %>
					<%= link_to 'Log out', root_path, :method => 'delete', :class => 'nav-item m-2 btn btn-outline-light text-light'  %>
				<% end %>
			</div>
		</nav>

		<%= yield %>
	</div>
</body>

</html>